# Data Analysis Query

This notebook provides sample queries and results for song playback analysis to demonstrate that **ETL is effective** and can provide data in the desired format. For example, what is the number of rows per table in redshift's star schema? What are the most played songs? What is the time of day when the song is most utilized?

In [29]:
import configparser
import pandas as pd
import psycopg2
from sql_queries import select_number_rows_queries
from sql_queries import aggregation_analysis_queries

In [6]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

### The number of rows per table in Redshift

Include staging table, fact table and dimensional table

In [34]:
results_list = []

for query in select_number_rows_queries:
    cur.execute(query)
    results = cur.fetchall()

    for row in results:
        results_list.append(row)

column_names = ["Count"]  
df = pd.DataFrame(results_list, columns=column_names)
row_names = ["staging_events", "staging_songs", "songplays", "users", "songs", "artists", "time" ]  # 用实际的行名替换这些示例行名
df.index = row_names
df

                Count
staging_events  16112
staging_songs   29792
songplays         333
users             104
songs           14896
artists         10025
time              333

### Most played songs & the time when the song is most utilized

In [35]:
results_list = []
for query in aggregation_analysis_queries:
    cur.execute(query)
    results = cur.fetchall()  
    for row in results:
        results_list.append(row)

df = pd.DataFrame(results_list)

print('Most played songs is:', df.iloc[0,0])
print('The highest usage time of day by hour is:', df.iloc[1,0])

Most played songs is: You're The One
The highest usage time of day by hour is: 17

### More analysis queries based on analytics teams' requirement

In [ ]:
#